<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>BookListPage</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>

  <ion-list>
    <button ion-item icon-start *ngFor="let liv of livresList; let i = index" (click)="OnLoadBook(i)">
      <ion-icon name="power" [color]="liv.estprete ? 'secondary' : 'danger'">
      </ion-icon>
      {{liv.titre}}:{{liv.auteur}}
      <ion-item *ngIf="!liv.estprete"> Nom de la personne: {{liv.nomPersonne}}</ion-item>
    </button>
  </ion-list>

</ion-content>